{% extends '_base.twig' %}

{% block js_head %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>
{% endblock %}

{% block og %}
    <meta property="og:image" content="http://masopust.roztoc.cz/img/galerie/2019-budicek/600/2019-budicek08.jpg">
    <meta property="og:title" content="Roztocký Masopust 2019 – Ranní budíček">
    <meta property="og:description" content="Fotografie z ranního budíčku Královen Maospustu.">
    <meta property="og:url" content="http://masopust.roztoc.cz/galerie/2019-budicek">
    {% endblock %}

{% block title %}Masopust 2019 – Budíček Královen{% endblock %}

{% block nav %}
    {% include '__nav.twig' with {'active': 'galerie'} %}
{% endblock %}

{% block content %}

{% block text %}

<h1>Ranní budíček Královny 2019</h1>
<p>← <a href="galerie">Galerie</a></p>
<p>Kradmý výlet maškar ranním rozbřeskem za Královnou Masopustu – tedy letos Královnami – Alžbětou Svobodovou a Alžbětou Tichou.</p>

<div class="row">
    {# Fotky Kuby Sedláka #}
    {% for i in 1..11 %}
    {% set num %}{% if i < 10 %}0{% endif %}{{ i }}{% endset %}
    <div class="card maso-foto-card">
        <div class="card-body">
            <a data-fancybox="2019-budicek" href="/img/galerie/2019-budicek/600/2019-budicek{{ num }}.jpg" data-srcset="/img/galerie/2019-budicek/2019-budicek{{ num }}.jpg 2048w, /img/galerie/2019-budicek/1800/2019-budicek{{ num }}.jpg 1800w, /img/galerie/2019-budicek/1200/2019-budicek{{ num }}.jpg 1200w, /img/galerie/2019-budicek/600/2019-budicek{{ num }}.jpg 600w, /img/galerie/2019-budicek/thumb/2019-budicek{{ num }}.jpg 320w" data-caption="Masopustní budíček Královen 2019 (foto Jakub Sedlák)">
                <img class="card-img-top" src="/img/galerie/2019-budicek/thumb/2019-budicek{{ num }}.jpg" alt="Fotka od Jakuba Sedláka z masopustního budíčku Královen, krásná a nepopsatelná.">
            </a>
        </div>
    </div>
    {% endfor %}

{% endblock %}
{% endblock %}